*.sql
*.log
*.zip
*.bak
*.old
*.php3

/config.php

# Zálohy DB a deploy klíče
/bin/zalohy/
/_deploy_klice/
/evidence-deploy-ssh/

/reports/
/nahrane_obrazky/
/nahrane_zavody/
/uploads/
/stories/
/loga_story/

.DS_Store
Thumbs.db
